extends layoutAnswer

block content
    .container
      .row
        .col-lg-8
          h1 #{question.question.title}
          hr
          p
            span.glyphicon.glyphicon-time
            | #{question.question.datecreated}
          hr
          p #{question.question.description}
    hr  
    -for answer in answers
      .container
        .row
          .col-lg-8
            p
              span.glyphicon.glyphicon-time
              | #{answer.question.datecreated}
            hr
            p #{answer.question.description}
    .well
        h4 Post Your Answer:
        form(role='form', action='createComment/:#{question._id.toHexString()}', method='post')
          .form-group
            textarea.form-control(rows='3', name='newComment')
          button.btn.btn-primary(type='submit') Submit
