extends layout

block content
  div.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a(href='/', class='navbar-brand') Home
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='createNewQuestion', class='navbar-brand') Ask Question!
            li
              a(href='displayQuestions', class='navbar-brand') Questions
            li
              a(href='displayUsers', class='navbar-brand') Users

          ul.nav.navbar-nav.navbar-right 
            li
              a(href='dashboard', class='navbar-brand') #{user.firstName}
  -for q in questionList
    .row
      .span8
        .row
          .span8
            h4
              strong
                a(href='#') #{q.question.title}
        .row
          .span2
            #{q.question.score}
          .span6
            p #{q.question.title}
            p
              a.btn(href='#') Read more
        .row
          .span8
            p
            p
              i.icon-user
              | by
              a(href='#') #{q.question.username}
              | |
              i.icon-calendar
              | #{q.question.datecreated}
              | |
              i.icon-tags
              | Tags :
              a(href='#')
                span.label.label-info Snipp
              a(href='#')
                span.label.label-info Bootstrap
              a(href='#')
                span.label.label-info UI
              a(href='#')
                span.label.label-info growth
    hr